{% extends "profile/profile.html" %}

{% block content_profile %}

<form class="form-horizontal" autocomplete="off">
    <h3 class="fieldset-title">Security Info</h3>
    <div class="columns">
        <div class="column is-4">
            <figure class="image is-square">
                <img class="is-rounded" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            </figure>
        </div>
        <div class="column">
            <fieldset>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input type="text" class="input" value="{{ current_user.name }}" disabled>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input type="email" class="input" value="{{ current_user.email }}" disabled>
                    </div>
                </div>
                <div class="field">
                    <label class="label">User Type</label>
                    <div class="control">
                        <div class="select">
                            <select disabled>
                                <option value="1">Admin</option>
                                <option value="2">Common</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">New Password</label>
                    <p class="control has-icons-left has-icons-right password-container">
                        <input class="input is-primary" type="password" name="new-password" id="new-password" placeholder="New Password" autocomplete="new-password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                        <i class="fa fa-eye"></i>                        
                    </p>
                </div>
                <div class="field">
                    <label class="label">Repeat New Password</label>
                    <p class="control has-icons-left has-icons-right password-container">
                        <input class="input is-primary" type="password" name="new-password-repeat" id="new-password-repeat" placeholder="Repeat New Password" autocomplete="new-password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                        <i class="fa fa-eye"></i>                        
                    </p>
                </div>
                <div class="field">
                    <label class="label">Current Password</label>
                    <p class="control has-icons-left has-icons-right password-container">
                        <input class="input is-primary" type="password" name="current-password" id="current-password" placeholder="Current Password" autocomplete="new-password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                        <i class="fa fa-eye"></i>                        
                    </p>
                </div>
            </fieldset>
        </div>
    </div>
    <hr>
    <div class="column form_footer">
        <div class="field">
            <input class="button is-primary" type="submit" value="Update Profile">
        </div>
    </div>
</form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        inativeMenuItens();
        enableChangeVisibilityPassword();

        var liElement = document.getElementById("profile_menu_security");
        liElement.classList.add("active"); 
    });
</script>

{% endblock %}