{% extends "account/profile/profile.html" %}

{% block content_profile %}

<form method="POST" action="/profile/personal" class="form-horizontal">
    <fieldset class="fieldset">
        <h3 class="fieldset-title">Dados Pessoais</h3>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="column">
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        </div>
        {% endif %}
        {% endwith %}

        <div class="columns">
            <div class="column is-3">
                <figure class="image is-square">
                    <img id="image" class="is-rounded" src="../../static/img/user_empty.jpg" alt="">
                </figure>
                <!--
                <div class="field">
                    <div class="control">
                        <input type="file" name="file" id="file" class="button is-light" />
                    </div>
                </div>
                -->
            </div>
            <div class="column">
                <fieldset>
                    <div class="field">
                        <label class="label">Nome</label>
                        <p class="control has-icons-left">
                            <input class="input is-primary" type="name" name="name" id="name" value="{{user.name}}"
                                autofocus="">
                            <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control has-icons-left">
                            <input class="input is-primary" type="email" name="email" id="email" value="{{user.email}}"
                                autofocus="">
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Tipo de Usuário</label>
                        <p class="control has-icons-left">
                            <span class="select">
                                <select disabled>
                                    <option value="1">Admin</option>
                                    <option value="2">Comum</option>
                                </select>
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fa fa-gavel"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Senha</label>
                        <p class="control has-icons-left has-icons-right password-container">
                            <input class="input is-primary" type="password" name="current-password" id="current-password" 
                                placeholder="Current Password" autocomplete="new-password">
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                            <i class="fa fa-eye"></i>                        
                        </p>
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
    <hr>
    <div class="column form_footer">
        <div class="field">
            <input class="button is-primary" type="submit" value="Salvar">
        </div>
    </div>
</form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        inativeMenuItens();
        enableChangeVisibilityPassword();

        var liElement = document.getElementById("profile_menu_profile");
        liElement.classList.add("active"); 
    });

    function enableImagePreview() {
        document.getElementById('file').onchange = function () {
            var src = URL.createObjectURL(this.files[0])
            document.getElementById('image').src = src
        }
    }
</script>

{% endblock %}