{% extends "base.html" %}

{% block content %}

<section class="hero is-fullheight">
    <div class="hero-head">
        <div class="columns is-multiline">
            <div class="column is-12" style="background-color: brown;">
                
            </div>
            <div class="column is-3" style="background-color: blueviolet;">
                
            </div>
            <div class="column" style="background-color: brown;">
                
            </div>
        </div>

        <br/>

        <div class="columns is-multiline">
            <div class="column is-12" style="background-color: brown;">
                
            </div>
            <div class="column is-3" style="background-color: blueviolet;">
                
            </div>
            <div class="column" style="background-color: brown;">
                
            </div>
        </div>
    </div>
</section>

{% endblock %}