{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../../../static/css/profile.css" />

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="is-rounded"
                            src="../../static/img/user_empty.jpg" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">{{ current_user.name }}
                                {% if current_user.is_admin %}
                                <p class="user-type-admin">{{ current_user.type_str }}</p>
                                {% endif %}
                                {% if not current_user.is_admin %}
                                <p class="user-type-common">{{ current_user.type_str }}</p>
                                {% endif %}
                            </li>
                            <li class="activity">Usuário desde: <br/>{{ current_user.creation_date_str }}</li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav">
                            <li id="profile_menu_profile" class="active"><a href="{{ url_for('account_profile.profile_personal') }}"><span class="fa fa-user"></span> Dados Pessoais</a></li>
                            <li id="profile_menu_security"><a href="{{ url_for('account_profile.profile_security') }}"><span class="fa fa-lock"></span> Alteração de Senha</a></li>
                            <li id="profile_menu_access"><a href="{{ url_for('account_profile.profile_access') }}"><span class="fa fa-sign-in"></span> Acessos</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="content-panel">
                    {% block content_profile %}

                    {% endblock %}
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    function inativeMenuItens() {
        var navItens = document.getElementsByClassName("nav");
        
        for(let i = 0; i < navItens.length; i++) {
            var element = navItens[i];
            const liElement = element.querySelector("li");
            liElement.classList.remove("active");
        }
    };

    function enableChangeVisibilityPassword() {
        var passwordContainerArray = document.getElementsByClassName("password-container");
    
        for (let i = 0; i < passwordContainerArray.length; i++) {
            var element = passwordContainerArray[i];
            const inputEl = element.querySelector("input");
            const iEl = element.querySelector("i.fa-eye");

            iEl.addEventListener("click", function () {
                this.classList.toggle("fa-eye-slash");
                const type = inputEl.getAttribute("type") === "password" ? "text" : "password";
                inputEl.setAttribute("type", type);
                inputEl.focus();
            })
        }
    }
</script>

{% endblock %}