{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="content-panel">
        <section class="module">
            <div class="module-inner">
                <form method="POST" action="/admin/permission/new" class="form-horizontal">
                    <fieldset class="fieldset">
                        <h3 class="fieldset-title">New Permission</h3>
                        <div class="field">
                            <label class="label">Department</label>
                            <p class="control has-icons-left">
                                <span class="select">
                                    <select name="departmentSelect">
                                        <option value="0">Select</option>
                                        {% for department in departments %}
                                        <option value="{{ department.id }}">{{ department.name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-building"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Permission Type</label>
                            <p class="control has-icons-left">
                                <span class="select">
                                    <select name="permissionTypeSelect">
                                        <option value="0">Select</option>
                                        {% for permissionType in permissionTypes %}
                                        <option value="{{ permissionType.id }}">{{ permissionType.description }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-gavel"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Begin</label>
                            <div class="control">
                                <p class="control has-icons-left">
                                    <input class="input is-primary" type="date" name="begin" id="begin">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">End</label>
                            <div class="control">
                                <p class="control has-icons-left">
                                    <input class="input is-primary" type="date" name="end" id="end">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <div class="column">
                        <div class="field">
                            <input class="button is-primary" type="submit" value="Insert">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

{% endblock %}