{% extends "account/permissions/permissions.html" %}

{% block content_permission %}

<h2 class="subtitle">Nova Permissão</h2>
<hr/>

<form method="POST" action="/account/permissions/new" class="form-horizontal">
    <div class="fieldset">        
        <div class="field fieldname">
            <label class="label">Departamento</label>
            <p class="control has-icons-left">
                <span class="select" style="width: 100%;">
                    <select name="departmentSelect" style="width: 100%;">
                        <option value="0">Selecione</option>
                        {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fas fa-building"></i>
                </span>
            </p>
        </div>
        <div class="field fieldname">
            <label class="label">Tipo de Permissão</label>
            <p class="control has-icons-left">
                <span class="select" style="width: 100%;">
                    <select name="permissionTypeSelect" style="width: 100%;">
                        <option value="0">Selecione</option>
                        {% for permissionType in permissionTypes %}
                        <option value="{{ permissionType.id }}">{{ permissionType.description }}
                        </option>
                        {% endfor %}
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fas fa-gavel"></i>
                </span>
            </p>
        </div>
        <div class="field fielddate">
            <label class="label">Início</label>
            <div class="control">
                <p class="control has-icons-left">
                    <input class="input is-info" type="date" name="begin" id="begin">
                    <span class="icon is-small is-left">
                        <i class="fa fa-calendar"></i>
                    </span>
                </p>
            </div>
        </div>
        <div class="field fielddate">
            <label class="label">Fim</label>
            <div class="control">
                <p class="control has-icons-left">
                    <input class="input is-info" type="date" name="end" id="end">
                    <span class="icon is-small is-left">
                        <i class="fa fa-calendar"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="column">
        <div class="field">
            <input class="button is-info" type="submit" value="Cadastrar">
        </div>
    </div>
</form>

{% endblock %}